@model IList<Student>

<h3 class="mb-3">Student List</h3>
<a class="btn btn-primary" asp-action="Create" >Create</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Course</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
           @foreach(var s in Model)
           {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Course</td>
                <td>@s.Age</td>
                <td><a asp-controller="Student" asp-action="Details" asp-route-id="@s.Id">View</a></td>
            </tr>
           }
    </tbody>
</table>